## Connecting to Database

This notebook shows how to connect different database and use SQL query to read data. There are many ways to connect a database and in this tutorial, we will use `sqlalchemy` package to do the job.

In [ ]:
import sqlalchemy
import pandas as pd

Define the server name. You might want to query data from two servers.

In [ ]:
server_name_01 = '<HOST>'
server_name_03 = '<HOST>'

Define the database name. If you don't know the database name to use, you could open DBeaver to check, which should be easy to find on the Desktop screen inside ADRF. To get more information on the data, please check our data documentation.

In [ ]:
db_name = 'ds_usda_fndds'

Connect to the database using the following command. To change the server or the database, you simply replace the variables in the format function.

In [ ]:
connection = "mssql+pyodbc://{}/{}?driver=ODBC+Driver+17+for+SQL+Server?;Trusted_Connection=Yes".format(server_name_03, db_name)
conn = sqlalchemy.create_engine(connection)

Then you can type your quries, and store the result of the query in a dataframe. Notice that you can start a new line or indent in the query, as long as the sql query is valid.

In [ ]:
query = '''
SELECT * 
FROM dbo.mainfooddesc1516
'''
mainfooddesc1516 = pd.read_sql(query, conn)

You can output the dataframe to a csv, or just use the dataframe in your code. The choices are all yours!

In [ ]:
mainfooddesc1516.head()